	<div class="kps-featured inner-banner">
			<div class="row animate-box">
				<div class="featured-wrap">
			  	  <img src="assets/about-us-banner.jpg"  alt=""/> </div>
			</div>
		</div>
		
		

	  <div class="kps-about kps-bg-white">
			<div class="container">
				<div class="row ">
					<div class="col-md-12 text-center kps-heading animate-box">
						<h2>ABOUT US</h2>
					</div>
					
				<div class="col-md-12 animate-box">
					<div class="row">
						<div class="col-md-3 animate-box"><img class="img-responsive img-about" src="assets/aboutus-image1.jpg" alt=""/></div>
						<div class="col-md-9 animate-box">
							<p>Lorem ipsum dolor sit amet, consecteture adipiscing elit. Lorem ipsum dolor sit amet, consecteture
adipiscing elit. Lorem ipsum dolor sit amet, consecteture adipiscing elit.lorem ipsum dolor sit amet,
consecteture adipiscing elit. Lorem ipsum consecteture adipiscing elit. Lorem ipsum dolor sit consec-
teture adipiscing elit. Lorem ipsum dolor sit amet, consecteture adipiscing elit. Lorem ipsum dolor sit consec-
teture adipiscing elit. Lorem ipsum dolor sit amet, consecteture adipiscing elit.</p>
						</div>
					</div>
					
					<div class="row">
						<div class="col-md-12 animate-box"><br>
							<p>Lorem ipsum dolor sit amet, consecteture adipiscing elit. Lorem ipsum dolor sit amet, consecteture adipiscing elit. Lorem ipsum dolor sit amet, consecteture
adipiscing elit.lorem ipsum dolor sit amet, consecteture adipiscing elit. Lorem ipsum consecteture adipiscing elit. Lorem ipsum dolor sit consec-
teture adipiscing elit. Lorem ipsum dolor sit amet, consecteture adipiscing elit. Lorem ipsum dolor sit consec- teture adipiscing elit. Lorem ipsum dolor sit amet,
consecteture adipiscing elit.</p>
						</div>
					</div>
						
				</div>
				</div>
				
			</div>
		</div>
		
		<div class="kps-about kps-bg-grey">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center kps-heading animate-box">
						<h3>OUR SERVICES</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 text-center animate-box">
						<div class="staff-entry">
							<a href="#" class="staff-img" style="background-image: url(assets/services-01.png);"></a>
							<div class="desc">
								<h3>Service 01</h3>
								<p>Lorem ipsum dolor sit amet, consecteture adipiscing elit. Lorem ipsum dolor sit amet, consecteture adipiscing elit. Lorem ipsum dolor sit amet, consecteture.</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 text-center animate-box">
						<div class="staff-entry">
							<a href="#" class="staff-img" style="background-image: url(assets/services-02.png);"></a>
							<div class="desc">
								<h3>Service 02</h3>
								<p>Lorem ipsum dolor sit amet, consecteture adipiscing elit. Lorem ipsum dolor sit amet, consecteture adipiscing elit. Lorem ipsum dolor sit amet, consecteture.</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 text-center animate-box">
						<div class="staff-entry">
							<a href="#" class="staff-img" style="background-image: url(assets/services-03.png);"></a>
							<div class="desc">
								<h3>Service 03</h3>
								<p>Lorem ipsum dolor sit amet, consecteture adipiscing elit. Lorem ipsum dolor sit amet, consecteture adipiscing elit. Lorem ipsum dolor sit amet, consecteture.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		
		<div class="kps-about kps-bg-white">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center kps-heading animate-box">
						<h3>OUR SPEACIALITIES</h3>
					</div>
				</div>
				<div class="row">
				  <div class="col-md-9 animate-box">
						<p>
						Lorem ipsum dolor sit amet, consecteture adipiscing elit. Lorem ipsum dolor sit amet, consecteture adipiscing elit.
Lorem ipsum dolor sit amet, consecteture adipiscing elit.lorem ipsum dolor sit amet, consecteture adipiscing
elit. Lorem ipsum consecteture adipiscing elit. Lorem ipsum dolor sit consec- teture adipiscing elit. Lorem ipsum
dolor sit amet, consecteture adipiscing elit. Lorem ipsum dolor sit consec- teture adipiscing elit. Lorem ipsum dolor
sit amet, consecteture adipiscing elit.
					</p>
					</div>
					
					<div class="col-md-3 animate-box">
				    	<img class="img-responsive" src="assets/aboutus-image2.jpg"  alt=""/> 
					</div>
				</div>
			</div>
		</div>

		