	<div class="kps-featured inner-banner">
			<div class="row animate-box">
				<div class="featured-wrap">
			  	  <img src="assets/about-banner.jpg"  alt=""/> </div>
			</div>
		</div>



	  <div class="kps-about kps-bg-white">
			<div class="container">
				<div class="row ">
					<div class="col-md-12 text-center kps-heading animate-box">
						<h2>ABOUT US</h2>
					</div>

				<div class="col-md-12 animate-box">
					<div class="row">
						<div class="col-md-12 animate-box">
							<p>KPS Clothing is a fashion apparel manufacturing company based at Tirupur, which is a subsidiary of KPS Knitting Company. KPS Knitting Company dates back to the year 1987 in the city of Tiruppur, India, known for its high quality knitwears. KPS Clothing and KPS Knitting Company is a registered apparel company.<br><br>
KPS Clothing caters to the evolving Men’s casual wear, with the aim of providing men in India with premium smart-casual clothing. The brand caters to the needs of the cosmopolitan, mature and upwardly-mobile man. We have introduced T-Shirts for men of highest quality with best affordable price.
							</p>
						</div>
					</div>



				</div>
				</div>

			</div>
		</div>

		<div class="kps-about kps-bg-grey">
			<div class="container">
				<!-- <div class="row">
					<div class="col-md-8 col-md-offset-2 text-center kps-heading animate-box">
						<h3>OUR SERVICES</h3>
					</div>
				</div> -->
				<div class="row">
					<div class="col-md-4 text-center animate-box">
						<div class="staff-entry">
							<a href="#" class="staff-img" style="background-image: url(assets/services-01.png);"></a>
							<div class="desc">
								<h3>What Drives us</h3>
								<p>To make KPS Clothing the most preferred fashion brand by offering value fashion and to provide good and quality products to the customer at affordable prices. We strive to stay competitive & constantly innovate in our offerings.</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 text-center animate-box">
						<div class="staff-entry">
							<a href="#" class="staff-img" style="background-image: url(assets/services-02.png);"></a>
							<div class="desc">
								<h3>Team</h3>
								<p>Team is highly experienced with an average industry experience of more than 15 years in the field of design, product sourcing, product development and operations<br><br></p>
							</div>
						</div>
					</div>
					<div class="col-md-4 text-center animate-box">
						<div class="staff-entry">
							<a href="#" class="staff-img" style="background-image: url(assets/services-03.png);"></a>
							<div class="desc">
								<h3>Quality</h3>
								<p>With its no compromise on quality, and its variety of apparel ranges, the premium brand marked an indelible place in the hearts of the younger generation. <br><br><br></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
