
  <!--<div class="kps-loader"></div>-->

<div id="page">
  <nav class="kps-nav" role="navigation">
    <div class="top-menu">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div id="kps-logo"><a routerLink="" class="nav-link" routerLinkActive="active"><img src="assets/kps-logo.png" class="kps-logo" alt="KPS Clothing"/></a></div>
          </div>
          <div class="col-md-8 text-right menu-1">
            <ul>
              <li><a routerLink="about" class="nav-link" routerLinkActive="active">About Us</a></li>
              <li><a routerLink="faq" class="nav-link" routerLinkActive="active">FAQ</a></li>
              <li><a routerLink="write" class="nav-link" routerLinkActive="active">Write to Us</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>


  <router-outlet></router-outlet>



  <footer id="kps-footer">
    <div class="container">
      <div class="row row-pb-sm">
        <div class="col-md-4 kps-widget">
          <a href="index.html" class="footer-logo"><img class="img-responsive" src="assets/footer-logo.png" alt=""/></a>
<p>Lorem ipsum dolor sit amet, consecteture adipiscing elit. Lorem ipsum dolor sit amet, consecteture adipiscing elit. Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consecteture adipiscing elit. Lorem ipsum dolor sit amet, consecteture adipiscing elit.
Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consecteture adipiscing elit.</p>
      <div class="row">
        <div class="col-md-5">
          <ul class="kps-footer-links">
              <li><a href="9877543765"><i class="icon-phone"></i> +91 9877543765</a></li>
          </ul>
        </div>
        <div class="col-md-7">
          <ul class="kps-footer-links">
            <li><a href="mailto:info@kpsclothing.com"><i class="icon-envelope"></i> info@kpsclothing.com</a></li>
          </ul>
        </div>
      </div>

        </div>


        <div class="col-md-4 kps-widget">
          <h4>Help</h4>

          <p>Lorem ipsum dolor sit amet, consecteture adipiscing elit. Lorem ipsum dolor sit amet, consecteture adipiscing elit. Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consecteture adipiscing elit. Lorem ipsum dolor sit amet, consecteture adipiscing elit. <br><br>
Lorem ipsum dolor sit amet, consecteture adipiscing elit. Lorem ipsum dolor sit amet, consecteture adipiscing elit. Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consecteture adipiscing elit. </p>
        </div>

        <div class="col-md-4 kps-widget">

          <div class="row">
          <div class="col-md-12">
            <h4>Sign Up & Save</h4>
            <div class="footer-input">
              <input type="text" id="email" class="form-control" placeholder="Your email address">
              <input type="submit" value="SUBSCRIBE" class="btn btn-dark">
            </div>
            <p>Subscribe to get the latest news on New product launches, special offers, and once-in-a-lifetime deals.<br><br></p>
          </div>

        </div>
        </div>
      </div>
    </div>
    <div class="copy">
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <p>© Copyright 2019, KPS Clothing, All Rights Reserved. </p>
          </div>
          <div class="col-md-5 footer-menu">
            <ul>
              <li><a routerLink="about">About Us</a></li>
              <li><a routerLink="faq">FAQ</a></li>
              <li><a routerLink="write">Write to Us</a></li>
            </ul>
          </div>
          <div class="col-md-2">
              <ul class="kps-social-icons pull-right">
                <li><a href="#"><i class="icon-facebook"></i></a></li>
                <li><a href="#"><i class="icon-instagram"></i></a></li>
              </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
<div class="gototop js-top">
  <a href="#" class="js-gotop"><i class="icon-arrow-up2"></i></a>
</div>
