.help-link{
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 0;
}
.help-link li {
   display: inline-block;
   margin: 0;
   width: 100%;
   float: left;
}
.help-link li a {
   font-size: 16px;
   font-weight: 500;
   padding: 2px 0;
   color: #E2E2E2;
   cursor: pointer;
   float: left;
}
.help-link li a:hover {
 color: #ffffff;
 text-decoration: underline;
}


@media (max-width: 767px) {
  .copyright{
    margin-top: 50px;
  }
.width-70{
  width: 70% !important;
}
.width-30{
  width: 30% !important;
}
}

#kps-footer .contact-info{
  margin: 10px 0;
  display: inline-block;
}
#kps-footer .contact-info .icon{
  width: 36px;
  height: 36px;
  margin: 0 10px;
  float: left;
}
#kps-footer .contact-info .icon.call{
  background:url("/assets/call-icon-border-white.svg") no-repeat center center;
  background-size: 100%;
}
#kps-footer .contact-info .icon.mail{
  background:url("/assets/mail-icon-border-white.svg") no-repeat center center;
  background-size: 100%;
}
#kps-footer .contact-info span{
  font-size: 18px;
  color: #ffffff;
  float: left;
  line-height: 40px;
}
#kps-footer .contact-info span strong{
  font-weight: 800;
}
#kps-footer .contact-info:hover{
  cursor: pointer;
}
#kps-footer .contact-info:hover .icon.call{
  background:url("/assets/call-icon-fill-white.svg") no-repeat center center;
  background-size: 100%;
}
#kps-footer .contact-info:hover .icon.mail{
  background:url("/assets/mail-icon-fill-white.svg") no-repeat center center;
  background-size: 100%;
}
#kps-footer .contact-info:hover span{
  color: #ffffff;
}
