 <div class="kps-featured">
      <div class="row animate-box">
        <div class="featured-wrap">
          <div class="owl-carousel">
            <div class="item">
              <div class="col-md-12">
                <div class="featured-entry">
                  <img class="img-responsive" src="assets/banner-01.jpg" alt="">
                </div>
              </div>
            </div>
            <!--<div class="item">
              <div class="col-md-12">
                <div class="featured-entry">
                  <img class="img-responsive" src="assets/banner-02.jpg" alt="">
                </div>
              </div>
            </div>
            <div class="item">
              <div class="col-md-12">
                <div class="featured-entry">
                  <img class="img-responsive" src="assets/banner-03.jpg" alt="">
                </div>
              </div>
            </div>-->
          </div>
        </div>
      </div>
    </div>



    <div class="kps-intro kps-bg-white">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1 text-center kps-heading animate-box">
            <h2>Welcome to KPS Clothing!</h2>
            <p>KPS Clothing caters to the evolving Men’s casual wear, with the aim of providing men in India with premium smart-casual clothing. The brand caters to the needs of the
cosmopolitan, mature and upwardly-mobile man.</p>
          </div>
        </div>

      </div>
    </div>

    <div class="kps-home-add kps-bg-white">
      <img class="img-responsive" src="assets/home-add-01.jpg" alt=""/>
    </div>

    <div class="kps-services kps-bg-white">
      <div class="container">
        <div class="row">
          <div class="col-md-4 text-center animate-box">
            <div class="services">
              <img class="img-responsive" src="assets/image10.jpg" alt=""/>
              <div class="desc">
                 <h3>For Laid Back Summers In Easy Going Styles!</h3>
              </div>
            </div>
          </div>
          <div class="col-md-4 text-center animate-box">
            <div class="services">
              <img class="img-responsive" src="assets/image2.jpg" alt=""/>
              <div class="desc">
                <h3>For Laid Back Summers In Easy Going Styles!</h3>
              </div>
            </div>
          </div>
          <div class="col-md-4 text-center animate-box">
            <div class="services">
              <img class="img-responsive" src="assets/image3.jpg" alt=""/>
              <div class="desc">
                <h3>For Laid Back Summers In Easy Going Styles!</h3>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4 text-center animate-box">
            <div class="services">
              <img class="img-responsive" src="assets/image4.jpg" alt=""/>
              <div class="desc">
                 <h3>For Laid Back Summers In Easy Going Styles!</h3>
              </div>
            </div>
          </div>
          <div class="col-md-4 text-center animate-box">
            <div class="services">
              <img class="img-responsive" src="assets/image5.jpg" alt=""/>
              <div class="desc">
                <h3>For Laid Back Summers In Easy Going Styles!</h3>
              </div>
            </div>
          </div>
          <div class="col-md-4 text-center animate-box">
            <div class="services">
              <img class="img-responsive" src="assets/image6.jpg" alt=""/>
              <div class="desc">
                <h3>For Laid Back Summers In Easy Going Styles!</h3>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4 text-center animate-box">
            <div class="services">
              <img class="img-responsive" src="assets/image7.jpg" alt=""/>
              <div class="desc">
                 <h3>For Laid Back Summers In Easy Going Styles!</h3>
              </div>
            </div>
          </div>
          <div class="col-md-4 text-center animate-box">
            <div class="services">
              <img class="img-responsive" src="assets/image8.jpg" alt=""/>
              <div class="desc">
                <h3>For Laid Back Summers In Easy Going Styles!</h3>
              </div>
            </div>
          </div>
          <div class="col-md-4 text-center animate-box">
            <div class="services">
              <img class="img-responsive" src="assets/image9.jpg" alt=""/>
              <div class="desc">
                <h3>For Laid Back Summers In Easy Going Styles!</h3>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>


    <div class="kps-services kps-bg-grey">

      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1 text-center kps-heading animate-box">
            <h2>Buy Now From</h2>
              <div class="c-logo-area">
                <a href="https://www.flipkart.com/men/tshirts/kps-clothing~brand/pr?sid=2oq,s9b,j9y&marketplace=FLIPKART&otracker=product_breadCrumbs_KPS+Clothing+T-Shirts" target="_blank" class="c-logo"><img class="img-responsive" src="assets/flipkart-logo.png" alt="Flipkart"/></a>
                <a href="https://www.amazon.in/s?rh=n%3A1571271031%2Cp_4%3AKPS+Clothing&ref=w_bl_sl_s_ap_web_1571271031" target="_blank" class="c-logo"><img class="img-responsive" src="assets/amazon-logo.png" alt="Amazon"/></a>
              </div>
          </div>
        </div>

      </div>

    </div>
