 <div class="kps-featured">
      <div class="row animate-box">
        <div class="featured-wrap">
          <div class="owl-carousel">
            <div class="item">
              <div class="col-md-12">
                <div class="featured-entry">
                  <img class="img-responsive" src="assets/banner-01.jpg" alt="">
                </div>
              </div>
            </div>
            <!--<div class="item">
              <div class="col-md-12">
                <div class="featured-entry">
                  <img class="img-responsive" src="assets/banner-02.jpg" alt="">
                </div>
              </div>
            </div>
            <div class="item">
              <div class="col-md-12">
                <div class="featured-entry">
                  <img class="img-responsive" src="assets/banner-03.jpg" alt="">
                </div>
              </div>
            </div>-->
          </div>
        </div>
      </div>
    </div>

    

    <div class="kps-intro kps-bg-white">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1 text-center kps-heading animate-box">
            <h2>Welcome to KPS Clothing!</h2>
            <p>Lorem ipsum dolor sit amet, consecteture adipiscing elit. Lorem ipsum dolor sit amet, consecteture adipiscing elit.
Lorem ipsum dolor sit amet, consecteture adipiscing elit.lorem ipsum dolor sit amet.</p>
          </div>
        </div>
        
      </div>
    </div>

    <div class="kps-home-add kps-bg-white">
      <img class="img-responsive" src="assets/home-add-01.jpg" alt=""/>
    </div>
    
    <div class="kps-services kps-bg-white">
      <div class="container">
        <div class="row">
          <div class="col-md-4 text-center animate-box">
            <div class="services">
              <img class="img-responsive" src="assets/image1.jpg" alt=""/>
              <div class="desc">
                 <h3>For Laid Back Summers In Easy Going Styles!</h3>
              </div>
            </div>
          </div>
          <div class="col-md-4 text-center animate-box">
            <div class="services">
              <img class="img-responsive" src="assets/image2.jpg" alt=""/>
              <div class="desc">
                <h3>For Laid Back Summers In Easy Going Styles!</h3>
              </div>
            </div>
          </div>
          <div class="col-md-4 text-center animate-box">
            <div class="services">
              <img class="img-responsive" src="assets/image3.jpg" alt=""/>
              <div class="desc">
                <h3>For Laid Back Summers In Easy Going Styles!</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    
    <div class="kps-services kps-bg-grey">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1 text-center kps-heading animate-box">
            <h2>Our Products</h2>
          </div>
          <div class="col-md-4 text-center animate-box">
            <div class="services">
              <img class="img-responsive" src="assets/product-image-01.jpg" alt=""/>
              <div class="desc">
                 <h3>Product 1</h3>
              </div>
            </div>
          </div>
          <div class="col-md-4 text-center animate-box">
            <div class="services">
              <img class="img-responsive" src="assets/product-image-02.jpg" alt=""/>
              <div class="desc">
                <h3>Product 2</h3>
              </div>
            </div>
          </div>
          <div class="col-md-4 text-center animate-box">
            <div class="services">
              <img class="img-responsive" src="assets/product-image-03.jpg" alt=""/>
              <div class="desc">
                <h3>Product 2</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      
    
