 <div class="kps-featured">
      <div class="row animate-box">
        <div class="featured-wrap">
          <div class="owl-carousel">
            <div class="item">
              <div class="col-md-12">
                <div class="featured-entry">
                  <img class="img-responsive" src="assets/banner-01.jpg" alt="">
                </div>
              </div>
            </div>
            <!--<div class="item">
              <div class="col-md-12">
                <div class="featured-entry">
                  <img class="img-responsive" src="assets/banner-02.jpg" alt="">
                </div>
              </div>
            </div>
            <div class="item">
              <div class="col-md-12">
                <div class="featured-entry">
                  <img class="img-responsive" src="assets/banner-03.jpg" alt="">
                </div>
              </div>
            </div>-->
          </div>
        </div>
      </div>
    </div>



    <div class="kps-intro kps-bg-white">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1 text-center kps-heading animate-box">
            <h2>Welcome to KPS Clothing!</h2>
            <p>KPS Clothing caters to the evolving Men’s casual wear, with the aim of providing men in India with premium smart-casual clothing. The brand caters to the needs of the
cosmopolitan, mature and upwardly-mobile man.</p>
          </div>
        </div>

      </div>
    </div>

    <div class="kps-home-add kps-bg-white">
      <img class="img-responsive" src="assets/home-add-01.jpg" alt=""/>
    </div>

    <div class="kps-services kps-bg-white">
      <div class="container">
        <div class="row">
          <div class="col-md-4 text-center animate-box">
            <div class="services">
              <img class="img-responsive" src="assets/image1.jpg" alt=""/>
              <div class="desc">
                 <h3>For Laid Back Summers In Easy Going Styles!</h3>
              </div>
            </div>
          </div>
          <div class="col-md-4 text-center animate-box">
            <div class="services">
              <img class="img-responsive" src="assets/image2.jpg" alt=""/>
              <div class="desc">
                <h3>For Laid Back Summers In Easy Going Styles!</h3>
              </div>
            </div>
          </div>
          <div class="col-md-4 text-center animate-box">
            <div class="services">
              <img class="img-responsive" src="assets/image3.jpg" alt=""/>
              <div class="desc">
                <h3>For Laid Back Summers In Easy Going Styles!</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="kps-services kps-bg-grey">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1 text-center kps-heading animate-box">
            <h2>Our Products</h2>
          </div>
          <div class="col-md-4 text-center animate-box">
            <div class="services">
              <img class="img-responsive" src="assets/image4.jpg" alt=""/>
              <div class="desc">
                <h3>Product 1</h3>
              </div>
            </div>
          </div>
          <div class="col-md-4 text-center animate-box">
            <div class="services">
              <img class="img-responsive" src="assets/image5.jpg" alt=""/>
              <div class="desc">
                <h3>Product 2</h3>
              </div>
            </div>
          </div>
          <div class="col-md-4 text-center animate-box">
            <div class="services">
              <img class="img-responsive" src="assets/image6.jpg" alt=""/>
              <div class="desc">
                <h3>Product 3</h3>
              </div>
            </div>
          </div>
          <div class="col-md-4 text-center animate-box">
            <div class="services">
              <img class="img-responsive" src="assets/image7.jpg" alt=""/>
              <div class="desc">
                <h3>Product 4</h3>
              </div>
            </div>
          </div>
          <div class="col-md-4 text-center animate-box">
            <div class="services">
              <img class="img-responsive" src="assets/image8.jpg" alt=""/>
              <div class="desc">
                <h3>Product 5</h3>
              </div>
            </div>
          </div>
          <div class="col-md-4 text-center animate-box">
            <div class="services">
              <img class="img-responsive" src="assets/image9.jpg" alt=""/>
              <div class="desc">
                <h3>Product 6</h3>
              </div>
            </div>
          </div>
          <div class="col-md-4 text-center animate-box">
            <div class="services">
              <img class="img-responsive" src="assets/image10.jpg" alt=""/>
              <div class="desc">
                <h3>Product 7</h3>
              </div>
            </div>
          </div>

          <div class="col-md-4 text-center animate-box">
            <div class="services">
              <img class="img-responsive" src="assets/image11.jpg" alt=""/>
              <div class="desc">
                <h3>Product 8</h3>
              </div>
            </div>
          </div>

          <div class="col-md-4 text-center animate-box">
            <div class="services">
              <img class="img-responsive" src="assets/image12.jpg" alt=""/>
              <div class="desc">
                <h3>Product 9</h3>
              </div>
            </div>
          </div>

          <div class="col-md-4 text-center animate-box">
            <div class="services">
              <img class="img-responsive" src="assets/image13.jpg" alt=""/>
              <div class="desc">
                <h3>Product 10</h3>
              </div>
            </div>
          </div>

          <div class="col-md-4 text-center animate-box">
            <div class="services">
              <img class="img-responsive" src="assets/image14.jpg" alt=""/>
              <div class="desc">
                <h3>Product 11</h3>
              </div>
            </div>
          </div>

          <div class="col-md-4 text-center animate-box">
            <div class="services">
              <img class="img-responsive" src="assets/image15.jpg" alt=""/>
              <div class="desc">
                <h3>Product 12</h3>
              </div>
            </div>
          </div>

          <div class="col-md-4 text-center animate-box">
            <div class="services">
              <img class="img-responsive" src="assets/image16.jpg" alt=""/>
              <div class="desc">
                <h3>Product 13</h3>
              </div>
            </div>
          </div>

          <div class="col-md-4 text-center animate-box">
            <div class="services">
              <img class="img-responsive" src="assets/image17.jpg" alt=""/>
              <div class="desc">
                <h3>Product 14</h3>
              </div>
            </div>
          </div>

          <div class="col-md-4 text-center animate-box">
            <div class="services">
              <img class="img-responsive" src="assets/image18.jpg" alt=""/>
              <div class="desc">
                <h3>Product 15</h3>
              </div>
            </div>
          </div>

          <div class="col-md-4 text-center animate-box">
            <div class="services">
              <img class="img-responsive" src="assets/image19.jpg" alt=""/>
              <div class="desc">
                <h3>Product 16</h3>
              </div>
            </div>
          </div>

          <div class="col-md-4 text-center animate-box">
            <div class="services">
              <img class="img-responsive" src="assets/image20.jpg" alt=""/>
              <div class="desc">
                <h3>Product 17</h3>
              </div>
            </div>
          </div>

          <div class="col-md-4 text-center animate-box">
            <div class="services">
              <img class="img-responsive" src="assets/image21.jpg" alt=""/>
              <div class="desc">
                <h3>Product 18</h3>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
